# Ignore the build output folder (for Java projects)
target/

# Ignore Visual Studio Code settings folder
.vscode/

# Ignore Eclipse project metadata files
.project
.classpath

# Ignore the settings directory (for Eclipse or other IDEs)
.settings/